<h1>Create new restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
<% if @restaurant.errors.any? %>
<div class="errors-container">
  <ul>
    <% @restaurant.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.input :name %>
<%= f.input :address %>
<%= f.input :category %>
<%= f.button :submit %>
<% end %>

<%= link_to "Back to home", restaurants_path %>
